<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bot instructions</title>
<!--	<link rel="stylesheet" href="static/style.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
<body>
<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
    <a class="navbar-brand" href="{{ home }}">Poetic Bot</a>
</div>
</div>
</nav>
<div class="container-fluid">
<p><h1>Instructions and description</h1></p>
<p>Бот берёт все стихи из НКРЯ с помощью лекси-граммтаического поиска<br>
Команда <kbd>/help</kbd> вызывает подсказку<br>
Команда <kbd>/start</kbd> запускает приветствие<br>
Когда бот не находит искомое слово, он предлагает поискать другое<br>
Если в стихотворении больше знаков, чем можно отправить в одном сообщении в телеграме, бот делит стихотворение на сообщения по несколько символов<br>
Бот старается выделять искомое слово в стихотворении капсом<br>  
</p>
</div>
</body>
</html>
<!DOCTYPE html>