{% extends "base.html" %}
{% block content %}
<p>{{s}}</p>
<table border="1">
<tr>
<th rowspan="2">Имя</th>
<th rowspan="2">Язык</th>
<th colspan="3">Лексика по списку Сводеша</th>
</tr>
<tr>
<th>mother</th>
<th>father</th>
<th>sun</th>
</tr>
{% for line in range(s) %} <!-- {% for line in range(s) %}АААА что тут вообще написано??? line - это же массив, как он может быть in range??? -->
<tr>
<td>
{{line[s * 5]}}
</td>
<td>
{{line[s * 5 + 1]}}
</td>
<td>
{{line[s * 5 + 2]}}
</td>
<td>
{{line[s * 5 + 3]}}
</td>
<td>
{{line[s * 5 + 4]}}
</td>
</tr>
{% endfor %}
</table>
{% endblock %}