body { background-color: #d6edac; }
h1 { border-bottom: 2px solid #eee;
    font-family: 'Georgia', serif;
    text-align: center; }
h2 { font-size: 1.2em;
    font-family: 'Georgia', serif;
    text-align: left; }